<div class="dashboard">
  <app-workspace-menu-toggle />

  <app-dashboard-header class="dashboard__header" (mailboxRequested)="showMailbox()" />

  <div class="dashboard__main" [class.dashboard__main--no-sidebar]="sidebarService.isHidden()">
    <app-channels-sidebar
      class="dashboard__sidebar"
      [isNewMessageActive]="currentView() === 'chat-new-msg'"
      [isMailboxActive]="currentView() === 'mailbox'"
      (newMessageRequested)="showNewMessage()"
      (mailboxRequested)="showMailbox()"
      (channelSelected)="showChannel($event)"
      (directMessageSelected)="showDirectMessage($event)"
    />

    @if (currentView() === 'welcome') {
    <app-channal-welcome class="dashboard__content" />
    } @else if (currentView() === 'chat-new-msg') {
    <app-chat-new-msg class="dashboard__content" />
    } @else if (currentView() === 'mailbox') {
    <app-chat-mailbox class="dashboard__content" />
    } @else if (currentView() === 'channel' && selectedChannel()) {
    <app-chat-channel class="dashboard__content" [channel]="selectedChannel()!" />
    } @else if (currentView() === 'direct-message' && selectedDM()) {
    <app-chat-main class="dashboard__content" [conversationId]="selectedDM()!.conversationId" />
    }
  </div>
</div>
