<div class="dashboard">
  <app-workspace-menu-toggle />

  <app-workspace-header class="dashboard__header" (mailboxRequested)="showMailbox()" />

  <div
    class="dashboard__main"
    [class.dashboard__main--no-sidebar]="sidebarService.isHidden()"
    [class.dashboard__main--thread-open]="isThreadOpen()"
  >
    <app-workspace-sidebar
      #sidebar
      class="dashboard__sidebar"
      [isNewMessageActive]="currentView() === 'chat-new-msg'"
      [isMailboxActive]="currentView() === 'mailbox'"
      [isLegalActive]="currentView() === 'legal'"
      (newMessageRequested)="showNewMessage()"
      (mailboxRequested)="showMailbox()"
      (channelSelected)="showChannel($event)"
      (directMessageSelected)="showDirectMessage($event)"
      (threadOpened)="openThread($event)"
    />

    @if (currentView() === 'welcome') {
    <app-channal-welcome
      class="dashboard__content"
      (directMessageRequested)="startDirectMessageWithUser($event)"
    />
    } @else if (currentView() === 'chat-new-msg') {
    <app-chat-new-msg class="dashboard__content" />
    } @else if (currentView() === 'mailbox') {
    <app-channel-mailbox class="dashboard__content" (channelSelected)="openChannelById($event)" />
    } @else if (currentView() === 'legal') {
    <app-legal-overview class="dashboard__content" />
    } @else if (currentView() === 'channel' && selectedChannel()) {
    <app-channel-conversation
      class="dashboard__content"
      [channel]="selectedChannel()!"
      (threadRequested)="openThread($event)"
      (channelLeft)="onChannelLeft()"
      (directMessageRequested)="startDirectMessageWithUser($event)"
    />
    } @else if (currentView() === 'direct-message' && selectedDM()) {
    <app-chat-private
      class="dashboard__content"
      [dmInfo]="selectedDM()!"
      (threadRequested)="openThread($event)"
    />
    } @if (isThreadOpen() && threadInfo()) {
    <app-thread
      class="dashboard__thread"
      [threadInfo]="threadInfo()!"
      (closeRequested)="closeThread()"
    />
    }
  </div>
</div>
