@use 'mixins' as mix;

.checkbox-field {
  @include mix.flex-center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.5rem;

  &__wrapper {
    @include mix.flex-center;
    width: clamp(22px, 5vw, 24px);
    height: clamp(22px, 5vw, 24px);
    border-radius: 50%;
    @include mix.transition(background, 0.3s);

    &:hover {
      background: var(--checkbox-wrapper-hover-bg);
    }
  }

  &__input {
    appearance: none;
    width: clamp(18px, 3vw, 18px);
    height: clamp(18px, 3vw, 18px);
    border: clamp(2px, 0.4vw, 2px) solid var(--checkbox-border);
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    position: relative;
    @include mix.transition(all, 0.3s);
    flex-shrink: 0;

    &:hover {
      border-color: var(--checkbox-border-hover);
    }

    &:checked {
      background: transparent;
      border-color: var(--checkbox-border-hover);

      &::after {
        content: '✔';
        font-size: clamp(12px, 2vw, 12px);
        color: var(--checkbox-check-color);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__label {
    @include mix.text-base;
    color: var(--text-color);
    cursor: pointer;
  }
  &__error {
    @include mix.text-base;
    display: block;
    color: #e74c3c;
    margin-top: var(--space-2);
    overflow: hidden;
  }
}
