<div class="message-selection">
  <!-- Overlay -->
  <div class="message-selection__overlay" (click)="onOverlayClick()"></div>

  <!-- Content -->
  <div class="message-selection__content" (click)="$event.stopPropagation()">
    <!-- Body -->
    <div class="message-selection__body">
      @if (messages().length === 0) {
      <p class="message-selection__empty">No messages found</p>
      } @else { @for (message of messages(); track message.id) {
      <app-message-search-item [item]="message" (itemClicked)="onMessageClick($event)" />
      } }
    </div>
  </div>
</div>
