@use 'mixins' as mix;

.message-search-item {
  @include mix.flex(row, flex-start, center);
  width: 100%;
  gap: var(--space-3);
  padding: 0.5rem 0.75rem;
  background: transparent;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.2s;
  text-align: left;

  &:hover {
    background-color: #eceefe;

    .message-search-item__name {
      color: #535af1;
    }

    .message-search-item__icon img {
      filter: brightness(0) saturate(100%) invert(35%) sepia(89%) saturate(2315%) hue-rotate(228deg)
        brightness(98%) contrast(92%);
    }
  }

  &--active {
    background-color: #eceefe;

    .message-search-item__name {
      color: #535af1;
    }

    .message-search-item__icon img {
      filter: brightness(0) saturate(100%) invert(35%) sepia(89%) saturate(2315%) hue-rotate(228deg)
        brightness(98%) contrast(92%);
    }
  }

  &__icon {
    @include mix.flex(row, center, center);
    flex-shrink: 0;
    width: 2.5rem;
    height: 2.5rem;

    img {
      width: 1.5rem;
      height: 1.5rem;
      transition: filter 0.2s;
    }
  }

  &__content {
    @include mix.flex(column, flex-start, flex-start);
    flex: 1;
    min-width: 0;
    gap: 0.25rem;
  }

  &__name {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    transition: color 0.2s;
  }

  &__description {
    font-size: 0.875rem;
    color: var(--text-secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}
