@use 'mixins' as mix;

.logo {
  @include mix.flex(row, center, center);
  gap: var(--space-2);
  padding: var(--space-2);

  &__image {
    width: clamp(1.8rem, 3vw + 1rem, 2.5rem);
    height: auto;

    // Desktop size
    @media screen and (min-width: 768px) {
      width: clamp(2.2rem, 5vw + 1.5rem, 3.5rem);
    }
  }

  &__text {
    font-size: 1.1rem;
    font-family: var(--font-family-primary);
    font-weight: 700;
    color: var(--primary-color);
    margin: 0;

    // Desktop size
    @media screen and (min-width: 768px) {
      font-size: clamp(0.75rem, 2vw + 1rem, 2rem);
    }
  }
}
