<button class="user-list-item" [class.user-list-item--active]="isActive()" (click)="onClick()">
  <span class="user-list-item__content">
    <span class="user-list-item__avatar-wrapper">
      <img
        [src]="user().avatar"
        [alt]="user().name"
        class="user-list-item__avatar"
        (error)="onImageError($event)"
      />
      <img
        [src]="
          userPresenceStore.isUserOnline()(user().id)
            ? '/img/icon/profile/status-online.svg'
            : '/img/icon/profile/status-away.svg'
        "
        alt=""
        class="user-list-item__status-badge"
      />
    </span>
    <span class="user-list-item__name">{{ user().name }}</span>
  </span>
</button>
