<div class="chat-new-msg">
  <div class="chat-new-msg__header">
    <h1 class="chat-new-msg__title">New message</h1>
  </div>

  <div class="chat-new-msg__search">
    <div class="chat-new-msg__search-wrapper">
      <!-- <img src="/img/icon/search-default.svg" alt="Search" class="chat-new-msg__search-icon" /> -->
      <input
        type="text"
        class="chat-new-msg__search-input"
        placeholder="An: #channel, oder @someone or E-Mail adress"
        [(ngModel)]="searchQuery"
        (input)="onSearch()"
      />
    </div>
  </div>

  <div class="chat-new-msg__content">
    <!-- Empty state or recipient list will go here -->
    <!-- Hier wird eine leere Status- oder Empfängerliste eingefügt. -->
    <div class="chat-new-msg__empty">
      <p>Search for users or channels to start a conversation</p>
    </div>
  </div>

  <div class="chat-new-msg__footer">
    <app-message-box [users]="allUsers()" (messageSent)="onMessageSent($event)" />
  </div>
</div>
